<p>
  <strong><%= suggestion.user.first_name %>:</strong>
  <%= suggestion.suggest %>
  <%= link_to 'Reject Suggestion', suggestion_path(suggestion), method: :delete, data: { confirm: 'Are you sure you want to delete this Article?' }, class: 'btn btn-sm btn-danger'%>
  <% @suggestion = suggestion %>
  <%= render @suggestion.replies %>
  <%= render 'replies/suggestion_reply', suggestion: @suggestion %>
</p>
